@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  --column-color : rgb(56, 56, 56);
  --feup-color: #780404;

  display: flex;
  flex-direction: column;
}


.search-bar {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 300px;
  margin-right: 1rem;
  border: 1px solid #ccc;
  border-radius: 3rem;
  background-color: #ccc;
}

#searchIcon {
  position: absolute;
  right: 1rem;
  margin-left: 2rem;
  color: var(--feup-color);
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
  border: none;
}

.search-bar input {
  width: 100%;
  padding: 0.5rem;
  border: none;
  outline: none;
  background-color: transparent;
  position: relative;
}
  
.search-bar input:focus {
  border: 1px solid grey;
}
  
/* Hide the search icon when text is entered */
.search-bar input:not(:empty) ~ #searchIcon {
  opacity: 0;
}

.search-bar input:focus, .search-bar button:focus {
  outline: none;
  border: none;
}


button:hover{
  color: var(--feup-color);
}

a:hover{
  color: var(--feup-color);
}

button:clicked{
  background-color: transparent;
}

/* when page is same as the link, ref is feup color */
a:active {
  color: var(--feup-color);
}



/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

/* Close button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.edit-profile {
  width: 100%;
  /* put content in center and right of div */
  display: flex;
  justify-content: right;
  align-items: center;

  background-color: transparent;
  border: none;
  cursor: pointer;

}


.edit-button {
  /* put content in center and right of div */
  display: flex;
  justify-content: center;
  align-items: center;
  float: right;
  margin-right: 2rem;

  background-color: transparent;
  border: none;
  cursor: pointer;

}




.name-username {
  /* put content in center and right of div and separate the elements*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  


}

/* name-username first child */
.name-username :first-child {
  font-weight: bold;
}


.name-username p{
  color: white;
  font-size: 2rem;
  margin-right: 1rem;
}


.profile-numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.profile-numbers div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.profile-numbers div p {
  color: white;
  font-size: 2rem;
  margin-right: 1rem;
}

.profile-numbers div p:first-child {
  font-weight: bold;
}

.bio {
  text-align: left;
  color: white;
}

.profile-picture {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  /* cover all the div */
  object-fit: cover;
  
}

.post-username {
  font-weight: bold;
}

.post-timestamp {
  color: #999;
}

.post-content {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  
}

.post-image {
  /*put image in center */
  width: 100%;
  max-width: 600px;
}

.post-footer {
  display: flex;
  justify-content: space-between;
  align-items: left;
  flex-direction: column;
}

.post-actions {
  display: flex;

}

.post-action {
  margin-right: 10px;
  cursor: pointer;
  border: none;
}

.post-actions :hover {
  color: var(--feup-color);
}

.post-comments {
  margin-top: 10px;
}

.comment {
  border: 1px solid #eee;
  padding: 10px;
  margin-bottom: 10px;
}

.commenter-picture {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.comment-info {
  margin-left: 10px;
}

.comment-username {
  font-weight: bold;
}

.comment-timestamp {
  color: #999;
}

.comment-text {
  margin-top: 5px;
}

/* contact page */
#contactForm textarea:focus, input:focus {
  border-color: transparent;
  border-bottom-color: var(--feup-color);
  outline: none;
}



/* Responsive styles for the header */
@media (max-width: 768px) {
  main > header {
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

/* Responsive styles for the search bar */
@media (max-width: 768px) {
  .search-bar {
    max-width: 200px;
    border-radius: 0.25rem;
  }

}

.post {
    border-style: solid;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
    border-color: #e2e8f0;
    padding: 10px;
}


/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

#homepage {
    height: calc(100% - 8rem);
}

* {
    font-family: 'Poppins', sans-serif;
}

