@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .post {
        background-color: teal;
        border-radius: 0.5rem;
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    }
}