@tailwind base;
@tailwind components;
@tailwind utilities;

select:focus ~ label,
select:not([value=""]):valid ~ label {
  @apply transform -translate-y-6 text-sm;
}

select:focus ~ label {
  @apply text-black left-0;
}
